<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>42 Transcript Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>42 Transcript Generator</h1>
        <p>Generate your academic transcript for job applications</p>
        <a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-dd46afa42c38040519d898999d4fe3ff3f6221f0195b7a7ab79a3028ba4e7832&redirect_uri=http%3A%2F%2F91.98.145.248%3A5000%2Fcallback&response_type=code" class="login-button">
            Login with 42 Intra
        </a>
    </div>
</body>
</html>
